apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pyspa.fullname" . }}
  labels:
    {{- include "pyspa.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "pyspa.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pyspa.labels" . | nindent 8 }}
    spec:
      containers:
        - name: pyspa
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "pyspa.fullname" . }}-secret
                  key: DATABASE_URL
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
